body {
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    align-items: center;
    justify-content: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}